@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
  }
  
  body {
    margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
    /* font-family: 'segoe ui'; */
  }
  #search{
      height: 30px;
      width: 350px;
      border-radius: 10px;
      border:1px white;
      padding: 10px;
  }
  #search:focus{
      border-color: transparent ;
      border: none;
  }
  #search::placeholder{
      padding-left: 10px;
      color: #5A7D9F;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
  }
  .nav {
    height: 60px;
    width: 100%;
    font-weight: bold;
	background: linear-gradient(to right, #5A7D9F, #CEE2F1);
    background-color: #5A7D9F;
    position: relative;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 13px 30px;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    /* padding: 13px 10px 10px 30px; */
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    position: absolute;
    margin-left: 20%;
    font-size: 18px;
  }
  .links-holder{
    display: inline;
    position: absolute;
    margin-left: 48%;
    margin-top: 2px;
    font-size: 18px;
  }
  .links-holder a{
    margin-left: 15px;    
    color: #5A7D9F;
    text-decoration: none;
  }

  .links-holder a:hover{
    background-color: rgba(23, 168, 212, 0.467);
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }
  
  /* .nav > .nav-links > a {
    display: inline-block;
    padding: 5px 10px 10px 10px;
    text-decoration: none;
    color: #5A7D9F;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  } */
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #5A7D9F ;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  